body {
  font-family: "Noto Sans SC", sans-serif;
  color: #12263f;
  background-color: #f9fbfd;
}

.small-icon {
  width: 20px;
  height: 20px;
}

.nav-link {
  color: #6e84a3 !important;
  transition: all 0.2s;
}

.nav-link:hover {
  color: #0056b3 !important;
}

.nav-link-active {
  color: #0056b3 !important;
}

.btn {
  background-color: #12263f;
  color: white;
}

.btn:hover {
  background-color: #0056b3;
  color: white;
}

.navbar-light {
  border-bottom: 1px solid grey;
  border: 1px solid #e3ebf6;
}

li.list-group-item {
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, .03);
}

.note-list {
  height: 440px;
  overflow-y: scroll;
}

.note-list::-webkit-scrollbar {
  background: transparent;
}

.border-radius {
  border-radius: 4px;
}

.twitter-blue {
  color: #38A1F3;
}