body {
  font-family: "Noto Sans SC", sans-serif;
  color: #12263f;
  -webkit-font-smoothing: antialiased;
}

.small-icon {
  width: 20px;
  height: 20px;
}

.nav-link {
  color: #6e84a3 !important;
  transition: all 0.2s;
}

.nav-link:hover {
  color: #0056b3 !important;
}

.nav-link-active {
  color: #0056b3 !important;
}

.btn-border {
  box-shadow: inset 0px 0px 0px 2px rgb(52, 49, 49);
  box-sizing: border-box;
}

.btn-border:hover {
  background-color: #0056b3;
  box-shadow: inset 0px 0px 0px 2px #0056b3;
  color: white;
}

.navbar-light {
  /* border-bottom: 2px solid rgba(18, 38, 63, .15); */
  box-shadow: 0 0 10px rgba(18, 38, 63, .15);
}

.timestamp:hover {
  cursor: pointer;
}

li.list-group-item, .card, .shadow {
  box-shadow: 0 0 10px rgba(18, 38, 63, .15);
  border: none;
}

.note-list {
  height: 440px;
  overflow-y: scroll;
}

.note-list::-webkit-scrollbar {
  background: transparent;
}

.border-radius {
  border-radius: 4px;
}

.twitter-blue {
  color: #38A1F3;
}

.youtube-red {
  color: #f00 !important;
}